header{
    min-height: 80px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #FFDAB9
}
header .logo {
    text-align: center;
    margin:auto;
    
    
    
}
img.zero {
    text-align: center;
    margin-left: 50px;
    color: #111;
    font-family: 'Merienda', cursive;
    
}
header ul li {
    display: inline-block;
    
    padding: 0 15px;
}
li a.historia  {
    font-family: 'Merienda', cursive;

    color: #111;
    
}
li a.sair{
    color: #111;
    font-family: 'Merienda', cursive;

}
li a.cProduto {
    color: #111;
    font-family: 'Merienda', cursive;

}
li a.categoria {
    color: #111;
    font-family: 'Merienda', cursive;

}
#btn_user {
   position:relative;
   margin-left: auto;
   font-size:40px;
   color: #111;
}
header ul li:hover{
    opacity: 1;
}
#produtos-icon{
    color: #111;
    font-size: 30px;
    margin-bottom: -3px;
    
}
.menu{
    display: none;
}
.cart-icon{
    position: relative;
    margin-right: 80px;
    margin-bottom: -3px;
    
}
.cart_icon2 {
    color: #111;
    
}
.cart-icon span {
    background: crimson;
    border-radius: 20px;
    color: white;
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 7px;
    font-size: 10px;
}