.historico-page {
    overflow: auto;
}
.historico-page h2, h4 {
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.historico-page table{
    margin: auto;
    width: 100%;
}
.historico-page table, th, tr, td{
    border: 2px solid #ddd;
    border-collapse: collapse;
}
th, td{
    text-align: center;
    padding: 10px;
    text-transform: capitalize;
}
table a{
    color:tomato
}
#btn_view {
    background-color: #FFDAB9;
}
.historico-page img {
    width: 70px;
    height: 100px;
    object-fit: cover;
}