.produtos {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    margin: 20px;
}

@import url("../utils/ProdutoItem/productItem.css");

.deleteAll {
    text-align: right;
    margin: 20px;
}
.deleteAll input {
    height: 25px;
    width: 25px;
    transform: translate(5px);
    margin: 0 15px;
}
.deleteAll span {
    text-transform: uppercase;
    color: #111;
    letter-spacing: 1.3px;
}
.deleteAll button {
    border: 1px solid crimson;
    padding: 10px 25px;
    color: crimson;
    text-transform: uppercase;
}
#spiner {
    width: 50%;
    height: 50%;
    margin: 50% 50% 50% 47%;
    color: #111;

}

.filter_menu {
    width: 100%;
    min-height: 40px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.filter_menu section, input {
    border: 1px solid #ccc;
    outline: none;
    height: 40px;
    padding: 0 5px;
}
.filter_menu input {
    flex: 1;
    margin: 0 10px;
}
.load_more {
    text-align: center;
}
